@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,600;1,200&display=swap");
body {
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

@layer base {
  h2 {
    @apply text-3xl lg:text-5xl;
  }

  h4 {
    @apply text-xl lg:text-2xl font-semibold;
  }

  table {
    @apply table-auto w-full;
  }

  tr:not(:last-child) {
    @apply border-b border-accent/20;
  }

  thead tr {
    @apply h-12 border-b border-accent/20;
  }

  th {
    @apply h-[50px] pb-8 text-gray-400;
  }
  tbody {
    @apply mt-16;
  }

  tbody tr td {
    @apply py-4;
  }

  td {
    @apply text-center;
  }
}

.row-letter {
  /* font-size: 28rem;
  font-weight: 500;
  position: relative;
  letter-spacing: -0.8rem;
  display: inline-block; */
  white-space: nowrap;
}

@media (max-width: 768px) {
  .responsiveTable tbody tr {
    border: 1px solid rgba(38, 174, 96, 0.2) !important;
  }
}

.card-shadow {
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
}

.f-shadow {
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.neon-button {
  color: var(--clr-neon);

  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.09em;
  font-size: 1.8rem;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  border: var(--clr-neon) 0.14em solid;
  padding: 0.3em 1.3em;
  border-radius: 0.6em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5), 0 0 0.55em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  position: relative;
  transition: background-color 100ms linear;
}

.neon-button::before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 120%;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--clr-neon);
  border-radius: 5px;
  height: 100%;
  width: 100%;
  transform: perspective(1em) rotateX(30deg) scale(1, 0.5);
  filter: blur(1.1em);
  opacity: 0.8;
}

.neon-button::after {
  content: "";
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  background: var(--clr-neon);
  color: var(--clr-bg);
  text-shadow: none;
}

.neon-button:hover::after {
  opacity: 1;
}

.neon-button:hover::before {
  opacity: 1;
}
